<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JEWELRY GIRL</title>
<link rel="stylesheet" href="/public/bienvenida.css">
</head>
<body>
  <div class="container">
    <h3>BIENVENIDA</h3>
    <h1>JEWELRY GIRL</h1>
    <p>
      Una plataforma inspirada en la belleza, fuerza y <br> brillo de las mujeres,
      para reflejar su esencia y <br> acompañarte en cada momento especial
    </p>
    <div class="contenedor-botones">
      <a href="/login" class="btn">Iniciar sesión</a>
      <a href="/registro" class="btn">Crear cuenta</a>
    </div>
  </div>
</body>
</html>
