<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/public/inicio.css">
</head>
<body>
  <header>
    <h1>Jewelry Girl 游눑</h1>
    <nav>
      <button>Cerrar sesi칩n</button>
      <button>Eliminar cuenta</button>
    </nav>
  </header>

  <main>
    <aside>
  <ul class="menu-lateral">
    <li><a href="/ofertas" class="btn-menu">Ofertas</a></li>
    <li><a href="/tickets" class="btn-menu">Tickets</a></li>
    <li><a href="/tienda" class="btn-menu">Tienda F.</a></li>
    <li><a href="/consulta" class="btn-menu">Consulta</a></li>
  </ul>
</aside>


    <section class="productos">
      <h2>Toda, aretes, collares, anillos y pulseras</h2>

      <div class="grid">
        <div class="producto">
          <img src="/imagenes/aretes.jpeg" alt="Aretes">
          <p><strong>Producto:</strong> Aretes</p>
          <p>Material: Acero</p>
          <p>Precio: $50</p>
          <button>游 A침adir</button>
        </div>

        <div class="producto">
          <img src="/public/imagenes/aretes.jpeg" alt="Collar">
          <p><strong>Producto:</strong> Collar</p>
          <p>Material: Oro</p>
          <p>Precio: $50</p>
          <button>游 A침adir</button>
        </div>

        <div class="producto">
          <img src="/img/anillo.jpg" alt="Anillo">
          <p><strong>Producto:</strong> Anillo</p>
          <p>Material: Plata</p>
          <p>Precio: $20</p>
          <button>游 A침adir</button>
        </div>

        <div class="producto">
          <img src="/img/pulsera.jpg" alt="Pulsera">
          <p><strong>Producto:</strong> Pulsera</p>
          <p>Material: Chapa de oro</p>
          <p>Precio: $20</p>
          <button>游 A침adir</button>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
